In [8]:
import pandas as pd
import numpy as np
import csv

In [9]:
df=pd.read_excel(r'fleet assignment result.xlsx')
df

    flight origin destination  departure    arrival  duration  fleet
0      101    LAX         JFK   5.000000  13.500000       5.5    737
1      102    LAX         JFK   9.750000  18.250000       5.5    737
2      103    LAX         JFK  15.333330  23.833330       5.5    737
3      104    SFO         JFK   5.083333  13.583330       5.5    737
4      105    SFO         JFK   9.833333  18.333330       5.5    757
5      106    SFO         JFK  15.416670  23.916670       5.5    737
6      107    ORD         JFK   7.500000  10.500000       2.0    737
7      108    ORD         JFK  12.333330  15.333330       2.0    737
8      109    ORD         JFK  17.166670  20.166670       2.0    737
9      110    ATL         JFK   8.166667  10.666670       2.5    757
10     111    ATL         JFK  13.166670  15.666670       2.5    757
11     112    ATL         JFK  18.000000  20.500000       2.5    737
12     113    MIA         JFK   9.166667  12.166670       3.0    757
13     114    MIA         JFK  14.500000  17.500000       3.0    757
14     115    MIA         JFK  18.250000  21.250000       3.0    737
15     116    BOS         JFK   6.250000   7.750000       1.5    737
16     117    BOS         JFK  10.000000  11.500000       1.5    737
17     118    BOS         JFK  15.000000  16.500000       1.5    757
18     119    IAD         JFK   8.250000   9.250000       1.0    737
19     120    IAD         JFK  14.416670  15.416670       1.0    737
20     121    IAD         JFK  18.500000  19.500000       1.0    737
21     122    JFK         LAX   7.583333  10.833330       5.5    737
22     123    JFK         LAX  16.000000  18.500000       5.5    737
23     124    JFK         LAX  19.000000  21.500000       5.5    737
24     125    JFK         SFO   7.416667   9.916667       5.5    757
25     126    JFK         SFO  15.500000  18.000000       5.5    737
26     127    JFK         SFO  20.000000  22.500000       5.5    737
27     128    JFK         ORD  10.083330  11.083330       2.0    737
28     129    JFK         ORD  15.083330  16.083330       2.0    737
29     130    JFK         ORD  21.000000  22.000000       2.0    737
30     131    JFK         ATL   9.500000  12.000000       2.5    757
31     132    JFK         ATL  14.583330  17.583330       2.5    737
32     133    JFK         ATL  18.083330  20.583330       2.5    757
33     134    JFK         MIA  10.583330  13.583330       3.0    737
34     135    JFK         MIA  15.166670  18.166670       3.0    757
35     136    JFK         MIA  18.166670  21.166670       3.0    757
36     137    JFK         BOS   7.666667   9.166667       1.5    737
37     138    JFK         BOS  12.500000  14.000000       1.5    757
38     139    JFK         BOS  21.500000  23.000000       1.5    737
39     140    JFK         IAD   6.333333   7.333333       1.0    737
40     141    JFK         IAD  12.000000  13.000000       1.0    737
41     142    JFK         IAD  15.250000  16.250000       1.0    737

In [10]:
#roster can weekly or month or days now we have 7 days & 4 paring in python 1,2,3,4
#each pairng  involve 2 days an shoul rest in 3rd or 3rd & 4th day

ros=[]
for i in range(1,5):
    for j in range(1,5):
        r=[0,0,0,0,0,0,0]
        r[0]=i
        r[3]=j
        ros.append(r)
for i in range(1,5):
    for j in range(1,5):
        r=[0,0,0,0,0,0,0]
        r[0]=i
        r[4]=j
        ros.append(r)
for i in range(1,5):
    for j in range(1,5):
        r=[0,0,0,0,0,0,0]
        r[1]=i
        r[4]=j
        ros.append(r)
for i in range(1,5):
    for j in range(1,5):
        r=[0,0,0,0,0,0,0]
        r[1]=i
        r[5]=j
        ros.append(r)
for i in range(1,5):
    for j in range(1,5):
        r=[0,0,0,0,0,0,0]
        r[2]=i
        r[5]=j
        ros.append(r)
for i in range(1,5):
    for j in range(1,5):
        r=[0,0,0,0,0,0,0]
        r[2]=i
        r[6]=j
        ros.append(r)
for i in range(1,5):
    for j in range(1,5):
        r=[0,0,0,0,0,0,0]
        r[3]=i
        r[6]=j
        ros.append(r)

ros

[[1, 0, 0, 1, 0, 0, 0],
 [1, 0, 0, 2, 0, 0, 0],
 [1, 0, 0, 3, 0, 0, 0],
 [1, 0, 0, 4, 0, 0, 0],
 [2, 0, 0, 1, 0, 0, 0],
 [2, 0, 0, 2, 0, 0, 0],
 [2, 0, 0, 3, 0, 0, 0],
 [2, 0, 0, 4, 0, 0, 0],
 [3, 0, 0, 1, 0, 0, 0],
 [3, 0, 0, 2, 0, 0, 0],
 [3, 0, 0, 3, 0, 0, 0],
 [3, 0, 0, 4, 0, 0, 0],
 [4, 0, 0, 1, 0, 0, 0],
 [4, 0, 0, 2, 0, 0, 0],
 [4, 0, 0, 3, 0, 0, 0],
 [4, 0, 0, 4, 0, 0, 0],
 [1, 0, 0, 0, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 0],
 [1, 0, 0, 0, 3, 0, 0],
 [1, 0, 0, 0, 4, 0, 0],
 [2, 0, 0, 0, 1, 0, 0],
 [2, 0, 0, 0, 2, 0, 0],
 [2, 0, 0, 0, 3, 0, 0],
 [2, 0, 0, 0, 4, 0, 0],
 [3, 0, 0, 0, 1, 0, 0],
 [3, 0, 0, 0, 2, 0, 0],
 [3, 0, 0, 0, 3, 0, 0],
 [3, 0, 0, 0, 4, 0, 0],
 [4, 0, 0, 0, 1, 0, 0],
 [4, 0, 0, 0, 2, 0, 0],
 [4, 0, 0, 0, 3, 0, 0],
 [4, 0, 0, 0, 4, 0, 0],
 [0, 1, 0, 0, 1, 0, 0],
 [0, 1, 0, 0, 2, 0, 0],
 [0, 1, 0, 0, 3, 0, 0],
 [0, 1, 0, 0, 4, 0, 0],
 [0, 2, 0, 0, 1, 0, 0],
 [0, 2, 0, 0, 2, 0, 0],
 [0, 2, 0, 0, 3, 0, 0],
 [0, 2, 0, 0, 4, 0, 0],
 [0, 3, 0, 0, 1, 0, 0],
 [0, 3, 0, 0, 2, 0, 0],
 [0, 3, 0, 0, 3, 0, 0],
 [0, 3, 0, 0, 4, 0, 0],
 [0, 4, 0, 0, 1, 0, 0],
 [0, 4, 0, 0, 2, 0, 0],
 [0, 4, 0, 0, 3, 0, 0],
 [0, 4, 0, 0, 4, 0, 0],
 [0, 1, 0, 0, 0, 1, 0],
 [0, 1, 0, 0, 0, 2, 0],
 [0, 1, 0, 0, 0, 3, 0],
 [0, 1, 0, 0, 0, 4, 0],
 [0, 2, 0, 0, 0, 1, 0],
 [0, 2, 0, 0, 0, 2, 0],
 [0, 2, 0, 0, 0, 3, 0],
 [0, 2, 0, 0, 0, 4, 0],
 [0, 3, 0, 0, 0, 1, 0],
 [0, 3, 0, 0, 0, 2, 0],
 [0, 3, 0, 0, 0, 3, 0],
 [0, 3, 0, 0, 0, 4, 0],
 [0, 4, 0, 0, 0, 1, 0],
 [0, 4, 0, 0, 0, 2, 0],
 [0, 4, 0, 0, 0, 3, 0],
 [0, 4, 0, 0, 0, 4, 0],
 [0, 0, 1, 0, 0, 1, 0],
 [0, 0, 1, 0, 0, 2, 0],
 [0, 0, 1, 0, 0, 3, 0],
 [0, 0, 1, 0, 0, 4, 0],
 [0, 0, 2, 0, 0, 1, 0],
 [0, 0, 2, 0, 0, 2, 0],
 [0, 0, 2, 0, 0, 3, 0],
 [0, 0, 2, 0, 0, 4, 0],
 [0, 0, 3, 0, 0, 1, 0],
 [0, 0, 3, 0, 0, 2, 0],
 [0, 0, 3, 0, 0, 3, 0],
 [0, 0, 3, 0, 0, 4, 0],
 [0, 0, 4, 0, 0, 1, 0],
 [0, 0, 4, 0, 0, 2, 0],
 [0, 0, 4, 0, 0, 3, 0],
 [0, 0, 4, 0, 0, 4, 0],
 [0, 0, 1, 0, 0, 0, 1],
 [0, 0, 1, 0, 0, 0, 2],
 [0, 0, 1, 0, 0, 0, 3],
 [0, 0, 1, 0, 0, 0, 4],
 [0, 0, 2, 0, 0, 0, 1],
 [0, 0, 2, 0, 0, 0, 2],
 [0, 0, 2, 0, 0, 0, 3],
 [0, 0, 2, 0, 0, 0, 4],
 [0, 0, 3, 0, 0, 0, 1],
 [0, 0, 3, 0, 0, 0, 2],
 [0, 0, 3, 0, 0, 0, 3],
 [0, 0, 3, 0, 0, 0, 4],
 [0, 0, 4, 0, 0, 0, 1],
 [0, 0, 4, 0, 0, 0, 2],
 [0, 0, 4, 0, 0, 0, 3],
 [0, 0, 4, 0, 0, 0, 4],
 [0, 0, 0, 1, 0, 0, 1],
 [0, 0, 0, 1, 0, 0, 2],
 [0, 0, 0, 1, 0, 0, 3],
 [0, 0, 0, 1, 0, 0, 4],
 [0, 0, 0, 2, 0, 0, 1],
 [0, 0, 0, 2, 0, 0, 2],
 [0, 0, 0, 2, 0, 0, 3],
 [0, 0, 0, 2, 0, 0, 4],
 [0, 0, 0, 3, 0, 0, 1],
 [0, 0, 0, 3, 0, 0, 2],
 [0, 0, 0, 3, 0, 0, 3],
 [0, 0, 0, 3, 0, 0, 4],
 [0, 0, 0, 4, 0, 0, 1],
 [0, 0, 0, 4, 0, 0, 2],
 [0, 0, 0, 4, 0, 0, 3],
 [0, 0, 0, 4, 0, 0, 4]]

In [5]:
p=[]
p.append(c[0])
p.append(c[5])
p.append(c[13])
p.append(c[18])
hour=[0,0,0,0]
for i in range(len(p)):
    h=0
    for j in range(len(p[i])):
        if p[i][j]!=0:
            h = h + df['duration'].loc[(p[i][j]-101)]

                
    hour[i]=h
hour

NameError: name 'c' is not defined

In [ ]:
for i in range(len(ros)):
    h=0
    for j in range(7):
        if ros[i][j]!=0:

            h = h + hour[ros[i][j]-1]
    ros[i].append(h)

In [ ]:
file = open('roster757.csv', 'w+', newline ='') 
with file:     
    write = csv.writer(file) 
    write.writerows(ros_constrain)