In [20]:
import pandas as pd
import numpy as np
import csv
import xlsxwriter

df=pd.read_excel(r'fleet asignment result.xlsx')

In [21]:
df['o']=df['origin']
df['d']=df['destination']
df['o']=df['o'].replace({'JFK':1, 'LAX':2, 'SFO':3, 'ORD':4, 'ATL':5, 'MIA':6, 'BOS':7, 'IAD':8})
df['d']=df['d'].replace({'JFK':1, 'LAX':2, 'SFO':3, 'ORD':4, 'ATL':5, 'MIA':6, 'BOS':7, 'IAD':8})

In [22]:
df

    flight origin destination  departure    arrival  duration  fleet  o  d
0      101    LAX         JFK   5.000000  13.500000       5.5    737  2  1
1      102    LAX         JFK   9.750000  18.250000       5.5    737  2  1
2      103    LAX         JFK  15.333330  23.833330       5.5    737  2  1
3      104    SFO         JFK   5.083333  13.583330       5.5    737  3  1
4      105    SFO         JFK   9.833333  18.333330       5.5    757  3  1
5      106    SFO         JFK  15.416670  23.916670       5.5    737  3  1
6      107    ORD         JFK   7.500000  10.500000       2.0    737  4  1
7      108    ORD         JFK  12.333330  15.333330       2.0    737  4  1
8      109    ORD         JFK  17.166670  20.166670       2.0    737  4  1
9      110    ATL         JFK   8.166667  10.666670       2.5    757  5  1
10     111    ATL         JFK  13.166670  15.666670       2.5    757  5  1
11     112    ATL         JFK  18.000000  20.500000       2.5    737  5  1
12     113    MIA         JFK   9.166667  12.166670       3.0    757  6  1
13     114    MIA         JFK  14.500000  17.500000       3.0    757  6  1
14     115    MIA         JFK  18.250000  21.250000       3.0    737  6  1
15     116    BOS         JFK   6.250000   7.750000       1.5    737  7  1
16     117    BOS         JFK  10.000000  11.500000       1.5    737  7  1
17     118    BOS         JFK  15.000000  16.500000       1.5    757  7  1
18     119    IAD         JFK   8.250000   9.250000       1.0    737  8  1
19     120    IAD         JFK  14.416670  15.416670       1.0    737  8  1
20     121    IAD         JFK  18.500000  19.500000       1.0    737  8  1
21     122    JFK         LAX   7.583333  10.833330       5.5    737  1  2
22     123    JFK         LAX  16.000000  18.500000       5.5    737  1  2
23     124    JFK         LAX  19.000000  21.500000       5.5    737  1  2
24     125    JFK         SFO   7.416667   9.916667       5.5    757  1  3
25     126    JFK         SFO  15.500000  18.000000       5.5    737  1  3
26     127    JFK         SFO  20.000000  22.500000       5.5    737  1  3
27     128    JFK         ORD  10.083330  11.083330       2.0    737  1  4
28     129    JFK         ORD  15.083330  16.083330       2.0    737  1  4
29     130    JFK         ORD  21.000000  22.000000       2.0    737  1  4
30     131    JFK         ATL   9.500000  12.000000       2.5    757  1  5
31     132    JFK         ATL  14.583330  17.583330       2.5    737  1  5
32     133    JFK         ATL  18.083330  20.583330       2.5    757  1  5
33     134    JFK         MIA  10.583330  13.583330       3.0    737  1  6
34     135    JFK         MIA  15.166670  18.166670       3.0    757  1  6
35     136    JFK         MIA  18.166670  21.166670       3.0    757  1  6
36     137    JFK         BOS   7.666667   9.166667       1.5    737  1  7
37     138    JFK         BOS  12.500000  14.000000       1.5    757  1  7
38     139    JFK         BOS  21.500000  23.000000       1.5    737  1  7
39     140    JFK         IAD   6.333333   7.333333       1.0    737  1  8
40     141    JFK         IAD  12.000000  13.000000       1.0    737  1  8
41     142    JFK         IAD  15.250000  16.250000       1.0    737  1  8

In [34]:
#daily combination with min and max duty
a=[]
for i in range(42):
    if df['fleet'].loc[i]==757:
        b=np.zeros(4)
        c=df['flight'].loc[i]
        b[0]=(c)
        a.append(b)
        
    else:
        continue
            
    for j in range(42):                                  #0.16666=10minute  min bitween change a aircraft with coptain                                      #3 =max hour bitween change a aircraft with coptain                                         
        if df['d'].loc[i]==df['o'].loc[j] and (df['arrival'].loc[i] + 0.1666) <= df['departure'].loc[j] and df['departure'].loc[j]<=df['arrival'].loc[i]+3 and df['fleet'].loc[j]==757 :
            b=np.zeros(4)
            c=df['flight'].loc[i]
            d=df['flight'].loc[j]
            b[0]=(c)
            b[1]=(d)

            a.append(b)
           
        else:
            continue
        for z in range(42):
            if df['d'].loc[j]==df['o'].loc[z] and (df['arrival'].loc[j] + 0.1666) <= df['departure'].loc[z] and df['departure'].loc[z]<=df['arrival'].loc[j]+3 and df['fleet'].loc[z]==757 :
                b=np.zeros(4)
                c=df['flight'].loc[i]
                d=df['flight'].loc[j]
                e=df['flight'].loc[z]
                b[0]=(c)
                b[1]=(d)
                b[2]=(e)
                a.append(b)
            
            else:
                continue
            for x in range(42):
                if df['d'].loc[z]==df['o'].loc[x] and (df['arrival'].loc[z] + 0.1666) <= df['departure'].loc[x] and df['departure'].loc[x]<=df['arrival'].loc[z]+3 and df['fleet'].loc[x]==757 :

                    b=np.zeros(4)
                    c=df['flight'].loc[i]
                    d=df['flight'].loc[j]
                    e=df['flight'].loc[z]
                    f=df['flight'].loc[x]
                    b[0]=(c)
                    b[1]=(d)
                    b[2]=(e)
                    b[3]=(f)
                    a.append(b)
                else:
                    continue
aa=a
a=[]  #filter Each duty should not exceed 8 hours of flight time
for i in range(len(aa)):
    h=0
    for j in range (len(aa[i])):
        c=(aa[i][j]-101)
        if c<0:
            continue
        else:
            h=h+df['duration'].loc[c]
    if h<=8:
         a.append(aa[i])

In [35]:
#coding each combination invovle how man flight
b=np.zeros(len(a))
for i in range(len(a)):
    for j in range(4):
        if a[i][j]>0:
            b[i]=b[i]+1
for i in range(len(a)):
    b[i]=b[i]-1
len(b)
b

array([0., 0., 1., 2., 3., 0., 1., 1., 0., 1., 1., 2., 0., 1., 1., 0., 1.,
       1., 0., 0., 1., 2., 2., 0., 0., 0., 0., 1., 2., 2.])

In [36]:
#A maximum length of two days is allowed for a routing

c=[]
for i in range(len(a)):   #two days routing     cycle1           cycle2
    c0=a[i][0]                                #[c0,.....c1]    [c2,.....c3]
    f= int(b[i])
    c1=a[i][f]
    for j in range(len(a)):
        c2=a[j][0]
        f=int(b[j])
        c3=a[j][f]
        if df['d'].loc[(c1-101)]==df['o'].loc[(c2-101)]  and   df['d'].loc[(c3-101)]==df['o'].loc[(c0-101)] and df['d'].loc[(c3-101)] ==1 and df['d'].loc[(c1-101)] !=1   :
            d=np.insert(a[i],4,a[j])
            c.append(d)
for i in range(len(a)):   #one days routing
    c0=a[i][0] 
    f= int(b[i])
    c1=a[i][f]
    if df['d'].loc[(c1-101)]==df['o'].loc[(c0-101)] and df['d'].loc[(c1-101)]==1 :
        
        c.append(a[i])

In [ ]:
file = open('757.csv', 'w+', newline ='') 
with file:     
    write = csv.writer(file) 
    write.writerows(c)

In [28]:
m=[]
for i in range(42):
    if df['fleet'].loc[i]==757:
        f=df['flight'].loc[i]
    else:
        continue
    b=[]
    
    
    for j in range(len(c)):
            
        for z in range(len(c[j])):
                
            if c[j][z]==f:
                b.append(j+1)
            else:
                continue
    b=np.insert(b,0,len(b))
    m.append(b)
    
    
m

[array([1, 1]),
 array([ 8,  2,  3,  5,  6, 11, 12, 21, 22]),
 array([11,  4,  5,  6,  7,  7,  8,  9, 10, 13, 23, 27]),
 array([ 8,  8,  9, 14, 15, 17, 18, 24, 25]),
 array([ 4, 10, 16, 19, 26]),
 array([16,  3,  6,  9, 12, 15, 18, 20, 21, 22, 22, 23, 24, 25, 25, 26, 28]),
 array([1, 1]),
 array([10,  2,  3,  4,  5,  6,  7,  8,  9, 10, 27]),
 array([ 9,  5,  6,  7, 11, 12, 13, 21, 22, 23]),
 array([ 3, 14, 15, 16]),
 array([ 9,  8,  9, 10, 17, 18, 19, 24, 25, 26]),
 array([16,  3,  6,  9, 12, 15, 18, 20, 21, 22, 22, 23, 24, 25, 25, 26, 28])]

In [29]:
file = open('crew_constrain_757.csv', 'w+', newline ='') 
with file:     
    write = csv.writer(file) 
    write.writerows(m)

In [30]:
ros=[]
for i in range(1,5):
    for j in range(1,5):
        r=[0,0,0,0,0,0,0]
        r[0]=i
        r[3]=j
        ros.append(r)
for i in range(1,5):
    for j in range(1,5):
        r=[0,0,0,0,0,0,0]
        r[0]=i
        r[4]=j
        ros.append(r)
for i in range(1,5):
    for j in range(1,5):
        r=[0,0,0,0,0,0,0]
        r[1]=i
        r[4]=j
        ros.append(r)
for i in range(1,5):
    for j in range(1,5):
        r=[0,0,0,0,0,0,0]
        r[1]=i
        r[5]=j
        ros.append(r)
for i in range(1,5):
    for j in range(1,5):
        r=[0,0,0,0,0,0,0]
        r[2]=i
        r[5]=j
        ros.append(r)
for i in range(1,5):
    for j in range(1,5):
        r=[0,0,0,0,0,0,0]
        r[2]=i
        r[6]=j
        ros.append(r)
for i in range(1,5):
    for j in range(1,5):
        r=[0,0,0,0,0,0,0]
        r[3]=i
        r[6]=j
        ros.append(r)

r

[0, 0, 0, 4, 0, 0, 4]

In [31]:
p=[]
p.append(c[0])
p.append(c[5])
p.append(c[13])
p.append(c[18])
hour=[0,0,0,0]
for i in range(len(p)):
    h=0
    for j in range(len(p[i])):
        if p[i][j]!=0:
            h = h + df['hour'].loc[(p[i][j]-101)]

                
    hour[i]=h
hour

KeyError: 'hour'

In [16]:
for i in range(len(ros)):
    h=0
    for j in range(7):
        if ros[i][j]!=0:

            h = h + hour[ros[i][j]-1]
    ros[i].append(h)
    
file = open('roster_757.csv', 'w+', newline ='') 
with file:     
    write = csv.writer(file) 
    write.writerows(ros)
    
ros

NameError: name 'hour' is not defined

In [17]:
ros_constrain=[]
for i in range(7):
    for j in range(1,len(p)+1):
        ross=[]
        for z in range(len(ros)):
            if ros[z][i]==j :
            
                ross.append(z+1)

        ros_constrain.append(ross)
        
len(ros_constrain)
ros_constrain

[[1, 2, 3, 4, 17, 18, 19, 20],
 [5, 6, 7, 8, 21, 22, 23, 24],
 [33, 34, 35, 36, 49, 50, 51, 52],
 [37, 38, 39, 40, 53, 54, 55, 56],
 [65, 66, 67, 68, 81, 82, 83, 84],
 [69, 70, 71, 72, 85, 86, 87, 88],
 [1, 5, 9, 13, 97, 98, 99, 100],
 [2, 6, 10, 14, 101, 102, 103, 104],
 [17, 21, 25, 29, 33, 37, 41, 45],
 [18, 22, 26, 30, 34, 38, 42, 46],
 [49, 53, 57, 61, 65, 69, 73, 77],
 [50, 54, 58, 62, 66, 70, 74, 78],
 [81, 85, 89, 93, 97, 101, 105, 109],
 [82, 86, 90, 94, 98, 102, 106, 110]]

In [18]:
file = open('roster_constrain_757.csv', 'w+', newline ='') 
with file:     
    write = csv.writer(file) 
    write.writerows(ros_constrain)